.reset-btn {
    border: none;
    border-radius: 0.5rem;
    background-color: rgba(28, 95, 184, 0.747);
    color: rgb(0, 0, 0);   
    font-size: 1.5rem;
    padding: 0.5 1rem;
    margin: 2rem auto;
    display: block ;
}